/* Write your CSS code here */
.linkEl {
  outline: none;
  text-decoration: none;
}
.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header_para {
  font-family: 'Roboto';
  margin: 10px;
  font-size: 18px;
}
